@use '../utils/vars' as *;
@use '../utils/mixins' as *;

nav {
    background-image: $deg-Dark-BlueToPurple;
    padding: 10px;
    @include sizes($height: 50px);
    position: fixed;
    z-index: 10000;
    top: 0px;
    @include displayFlex($flexDirection: row, $justifyContent: space-between);
    display: none;

    img{
        @include sizes(auto,100%);
    }
    .link{
        color: $lightFontColor;
        text-decoration: none;
        cursor: pointer;
    }

    ul{
        @include sizes(25%,100%);
        @include displayFlex($flexDirection:row, $justifyContent: space-between);

        li{
            list-style: none;
            @include sizes();
            @include displayFlex();
        }
    }
}
