@use './utils/vars' as *;       
@use './utils/mixins' as *;     
@use './base/reset';       
@use './base/typography';  
@use './base/base';  
@use './components/navbar';  
@use './pages/game';  
@use './components/playerMenu';
@use './components/leftMenu';
@use './components/rightMenu';
@use './components/playerTopStats';
@use './pages/home';
@use './pages/login';
@use './pages/register';
@use './components/modals/concessionaire';
@use './components/modals/ranking';
@use './components/modals/routes';

body {
    font-family: $jersey20Font;
    background: $standar-Dark-BackgroundImage;
    background-size: cover;
    background-attachment: fixed; 
    color: $lightFontColor;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: space-between;
    min-height: 100%;
    width: 100%;
}

