* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100vh;
  scrollbar-width: none;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

nav {
  background-image: linear-gradient(135deg, #0E07D9 0%, #5207D9 100%);
  padding: 10px;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 10000;
  top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: none;
}
nav img {
  width: auto;
  height: 100%;
}
nav .link {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}
nav ul {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#fatherContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #2c2c2c;
  position: relative;
}
#fatherContainer .modal {
  width: 65%;
  height: 83vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
}
#fatherContainer .modal h2 {
  background-color: #5A56DB;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #f1f1f1;
}
#fatherContainer .modal h2 button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#fatherContainer .modal .modal-content {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}

.playerMenu {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.playerMenu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.playerMenu ul li {
  list-style: none;
  color: #f1f1f1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #5A56DB;
  cursor: pointer;
}
.playerMenu ul li .link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.playerMenu ul li .link span {
  width: 120%;
  height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  color: #f1f1f1;
  margin-top: -10px;
  text-shadow: 0px 1px black;
}
.playerMenu ul li .link img {
  width: 40%;
  height: auto;
}
.playerMenu ul li:hover {
  transform: scale(1.1);
}
.playerMenu ul .specialLi {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#leftMenu {
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: absolute;
  left: 5px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.315);
  gap: 10px;
  cursor: default;
  overflow: hidden;
}
#leftMenu img {
  width: 35px;
  height: auto;
}
#leftMenu .linkLeftMenu {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-family: "Jersey 20", serif;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease;
  font-size: 18px;
  color: #2c2c2c;
  text-decoration: none;
}
#leftMenu .linkLeftMenu:hover {
  background-color: #5A56DB;
  color: #f1f1f1;
}
#leftMenu .socialMedia {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#leftMenu .socialMedia img {
  cursor: pointer;
  width: 20px;
  height: auto;
  transition: all 0.2s ease;
}
#leftMenu .socialMedia img:hover {
  transform: scale(1.1);
}
#leftMenu span {
  font-size: 16px;
  width: 100%;
  height: 25px;
  padding: 3px;
  color: rgb(112, 112, 112);
}
#leftMenu .special-span {
  border-bottom: 1px solid rgb(173, 173, 173);
}
#leftMenu .creditSpan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#leftMenu {
  width: 250px;
}

#rightMenu {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.315);
  position: absolute;
  right: 5px;
  gap: 10px;
  cursor: default;
  overflow: hidden;
}
#rightMenu .playerProfileContainer {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: all 1s ease;
}
#rightMenu .playerProfileContainer img {
  width: 80%;
  height: auto;
}
#rightMenu .playerProfileContainer .welcomeMessage {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #2c2c2c;
  font-size: 22px;
}
#rightMenu .playerProfileContainer:hover {
  box-shadow: 0px 30px 20px 1px rgba(0, 0, 0, 0.226);
}
#rightMenu .playerStats {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
}
#rightMenu .playerStats .stats {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  transition: all 0.2s ease;
  border-radius: 10px;
  color: #2c2c2c;
  box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.097);
}
#rightMenu .playerStats .stats:hover {
  background-color: #5A56DB;
  color: #f1f1f1;
}
#rightMenu .playerStats .playerCompany,
#rightMenu .playerStats .playerLevel,
#rightMenu .playerStats .playerSuccessDeliveries {
  grid-column: span 2;
}
#rightMenu .playerStats .configBtn,
#rightMenu .playerStats .editProfileBtn {
  height: 50px;
  cursor: pointer;
  box-shadow: none;
  cursor: pointer;
}
#rightMenu .playerStats .configBtn button,
#rightMenu .playerStats .editProfileBtn button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: "Jersey 20", serif;
  cursor: pointer;
}
#rightMenu .playerStats .configBtn:hover,
#rightMenu .playerStats .editProfileBtn:hover {
  background-color: transparent;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: #2c2c2c;
}
#rightMenu .playerStats .playerLevel {
  justify-content: space-around;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: none;
  color: #2c2c2c;
  font-size: 30px;
}
#rightMenu .playerStats .playerLevel img {
  width: auto;
  height: 60%;
  transform: rotate(15deg);
}
#rightMenu .playerStats .playerLevel:hover {
  color: #2c2c2c;
}
#rightMenu .playerStats .link {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #f1f1f1;
  background-color: #5A56DB;
  font-size: 16px;
  border: none;
  font-family: "Jersey 20", serif;
  cursor: pointer;
}

.playerTopStatsContainer {
  position: absolute;
  top: 25px;
  width: 60%;
  height: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 10px;
  background-color: #5A56DB;
}
.playerTopStatsContainer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: #f1f1f1;
  gap: 10px;
}
.playerTopStatsContainer ul li {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.playerTopStatsContainer ul li span {
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

@keyframes btn-move-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.landingContainer {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.landingContainer .presentationContainer,
.landingContainer .featuresContainer,
.landingContainer .aboutContainer,
.landingContainer .howToPlayContainer,
.landingContainer .ctaContainer,
.landingContainer .faqContainer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.landingContainer .presentationContainer {
  flex-direction: row;
  height: 750px;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
}
.landingContainer .presentationContainer div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.landingContainer .presentationContainer .leftPresentation {
  gap: 10px;
  width: 70%;
  z-index: 101;
  position: absolute;
  left: 0px;
  top: 0px;
}
.landingContainer .presentationContainer .leftPresentation h1 {
  width: 80%;
  height: 220px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Afacad", serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 70px;
  color: #f1f1f1;
}
.landingContainer .presentationContainer .leftPresentation h2 {
  font-family: "Nunito", serif;
  color: #9707D9;
  font-size: 22px;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.landingContainer .presentationContainer .leftPresentation .presBtnContainer {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.landingContainer .presentationContainer .leftPresentation .presBtnContainer .ctaBtn {
  background-color: #f1f1f1;
  text-decoration: none;
  color: #5A56DB;
  padding: 15px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  animation: btn-move-animation 2s ease 0s 1;
  animation-delay: 5s;
  font-family: "Nunito", serif;
}
.landingContainer .presentationContainer .leftPresentation .presBtnContainer .ctaBtn:hover {
  transform: scale(1.1);
  animation: rotar 2s ease-in-out 0s 1;
}
.landingContainer .presentationContainer .rightPresentation {
  background-image: url("../assets/backgrounds/presentation.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 100%;
  z-index: 100;
}
.landingContainer .featuresContainer {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width: 90%;
  height: 100%;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.315);
  border-radius: 10px;
  color: #2c2c2c;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  gap: 15px;
  cursor: default;
  z-index: 101;
  margin-top: -25px;
}
.landingContainer .featuresContainer .aboutContainer {
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Nunito", serif;
  box-shadow: 0px;
  gap: 10px;
}
.landingContainer .featuresContainer .aboutContainer h2 {
  font-size: 60px;
  color: #9707D9;
  font-weight: 900;
}
.landingContainer .featuresContainer .aboutContainer p {
  font-size: 22px;
  align-items: flex-start;
}
.landingContainer .featuresContainer .aboutContainer h3 {
  font-family: "Nunito", serif;
  font-weight: 800;
  font-size: 45px;
  color: #9707D9;
  align-items: flex-start;
}
.landingContainer .featuresContainer div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.315);
  width: 350px;
  height: 200px;
  gap: 10px;
}
.landingContainer .featuresContainer div h3 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: #5A56DB;
  font-size: 22px;
}
.landingContainer .featuresContainer div p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-family: "Nunito", serif;
}
.landingContainer .featuresContainer div:hover {
  background-color: rgb(214, 221, 255);
}
.landingContainer .howToPlayContainer {
  width: 100%;
  height: 100%;
  gap: 15px;
  font-family: "Afacad", serif;
  padding: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}
.landingContainer .howToPlayContainer .articleHowTo {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.landingContainer .howToPlayContainer .articleHowTo h2 {
  font-weight: 900;
  font-size: 80px;
  color: #f1f1f1;
}
.landingContainer .howToPlayContainer .articleHowTo p {
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.landingContainer .howToPlayContainer div {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #0785D9 0%, #9707D9 100%);
}
.landingContainer .howToPlayContainer div h3 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}
.landingContainer .howToPlayContainer div p {
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.landingContainer .howToPlayContainer .linkHowTo {
  background-color: #f1f1f1;
  text-decoration: none;
  color: #5A56DB;
  padding: 15px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  font-family: "Nunito", serif;
}
.landingContainer .howToPlayContainer .linkHowTo:hover {
  transform: scale(1.05);
}
.landingContainer .ctaContainer {
  width: 90%;
  height: 100%;
  flex-direction: row;
  gap: 25px;
  font-family: "Nunito", serif;
  text-align: left;
}
.landingContainer .ctaContainer .leftCtaContainer {
  display: grid;
  width: 50%;
  height: 100%;
  overflow: hidden;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-self: center;
}
.landingContainer .ctaContainer .leftCtaContainer img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.landingContainer .ctaContainer .rightCtaContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.landingContainer .ctaContainer .rightCtaContainer .cta {
  border-radius: 50px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #5A56DB;
  gap: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.landingContainer .ctaContainer .rightCtaContainer .cta h3 {
  font-size: 30px;
  padding: 10px;
  background-color: #f1f1f1;
  width: 100%;
  height: 50px;
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.landingContainer .ctaContainer .rightCtaContainer .cta p {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.landingContainer .ctaContainer .rightCtaContainer .cta .linkCta {
  background-color: #f1f1f1;
  text-decoration: none;
  color: #5A56DB;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  font-family: "Nunito", serif;
}
.landingContainer .ctaContainer .rightCtaContainer .cta .linkCta:hover {
  transform: scale(1.05);
}
.landingContainer .ctaContainer .rightCtaContainer .cta:hover {
  box-shadow: 0px 0px 15px 1px #5A56DB;
}

.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.loginContainer section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginContainer .leftLoginContainer img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}
.loginContainer .rightLoginContainer h1 {
  font-family: "Afacad", serif;
  font-weight: 800;
  font-size: 45px;
  color: #f1f1f1;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginContainer .rightLoginContainer form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
}
.loginContainer .rightLoginContainer form input {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0px;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Nunito", serif;
  font-size: 22px;
  color: #f1f1f1;
}
.loginContainer .rightLoginContainer form #loginBtn {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0px;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Nunito", serif;
  font-size: 22px;
  color: #f1f1f1;
  background: #9707D9;
  cursor: pointer;
}
.loginContainer .rightLoginContainer p {
  width: 60%;
  height: 20px;
  font-family: "Nunito", serif;
  font-size: 16px;
}
.loginContainer .rightLoginContainer p .linkLoginReg {
  text-decoration: none;
  color: #9707D9;
  font-weight: 800;
  cursor: pointer;
}

.registerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.registerContainer section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.registerContainer .leftRegisterContainer img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}
.registerContainer .rightRegisterContainer h1 {
  font-family: "Afacad", serif;
  font-weight: 800;
  font-size: 45px;
  color: #f1f1f1;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.registerContainer .rightRegisterContainer form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
}
.registerContainer .rightRegisterContainer form input {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0px;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Nunito", serif;
  font-size: 22px;
  color: #f1f1f1;
}
.registerContainer .rightRegisterContainer form #regBtn {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0px;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Nunito", serif;
  font-size: 22px;
  color: #f1f1f1;
  background: #9707D9;
  cursor: pointer;
}
.registerContainer .rightRegisterContainer p {
  width: 60%;
  height: 20px;
  font-family: "Nunito", serif;
  font-size: 16px;
}
.registerContainer .rightRegisterContainer p .linkLoginReg {
  text-decoration: none;
  color: #9707D9;
  font-weight: 800;
  cursor: pointer;
}

body {
  font-family: "Jersey 20", serif;
  background: linear-gradient(60deg, #29323c 0%, #22282e 100%);
  background-size: cover;
  background-attachment: fixed;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */